/* This file is for your main application css. */

@tailwind base;
@tailwind components;
@tailwind utilities;
iframe[src="/phoenix/live_reload/frame"] {
    display: none;
}

@font-face {
    font-family: "Orbitron";
    src: url("/fonts/Orbitron/static/Orbitron-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Orbitron";
    src: url("/fonts/Orbitron/static/Orbitron-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Michroma";
    src: url("/fonts/Michroma/Michroma-Regular.ttf");
    font-display: swap;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.michroma {
    font-family: 'Michroma', sans-serif;
}

.wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas: 'header' 'main' 'footer';
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidenav {
    grid-area: sidenav;
    position: fixed;
    transform: translateX(-256px);
}

.sidenav.nav-open {
    transform: translateX(0);
}

.main {
    grid-area: main;
    min-width: 0;
    position: relative;
    overflow: auto;
}

.footer {
    grid-area: footer;
}


/* Non-mobile styles, 750px breakpoint */

@media (min-width: 1024px) {
    /* Show the sidenav */
    .wrapper {
        grid-template-columns: 256px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .sidenav {
        position: relative;
        transform: translateX(0);
    }
}


/* #sidebar, #content, #top-bar {
    transition: all .5s;
}

@media (max-width: 1024px) {
    #sidebar {
        transform: translate3d(-16rem,0,0);
    }

    #sidebar.nav-open {
        transform: translateZ(0);
    }

    #content {
        width: 100% !important;
    }

    #content.nav-open {
        transform: translate3d(16rem,0,0);
    }

    #top-bar {
        @apply left-0;
        width: 100% !important;
    }
} */