/* This file is for your main application css. */

@tailwind base;
@tailwind components;
@tailwind utilities;

iframe[src="/phoenix/live_reload/frame"] {
    display: none;
}

@font-face {
    font-family: "Orbitron";
    src: url("/fonts/Orbitron/static/Orbitron-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Orbitron";
    src: url("/fonts/Orbitron/static/Orbitron-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Michroma";
    src: url("/fonts/Michroma/Michroma-Regular.ttf");
    font-display: swap;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}
  
.michroma {
    font-family: 'Michroma', sans-serif;
}